.imglog{
  height: 20px;
  width: 90px;
}
.navb{
  display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px 18px 10px 29px;
    z-index: 2;
}
.searchbar {
  width: 500px;
  height: 40px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  border-radius: 18px;
  border: solid #e6e6e6 2px;
  justify-content: space-between;
}
.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 85%;
  margin-left: 11px;
}

.searchInput:focus {
  outline: none;
}
.serch-r{
  display: flex;
  width: 9%;
  height: 100%;
  align-items: center;
  background-color: #F0F0F0;
  border-radius: 0px 14px 14px 0px;
}
.imgP{
  border-radius: 50%;
  width: 30px;
}
.navM{
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-evenly;
}
.navL{
  display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12%;
}
.mic{
  font-size: 20px
}
.micro{
  border-radius: 58%;
    background-color: rgb(246 246 246);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.micro:hover{
  background-color: rgb(163, 163, 163);
}
.navR{
  display: flex;
    width: 10%;
    align-items: center;
    justify-content: space-around;
}